<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img src="/images/PawFinder logo3.JPG" alt=""
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/signup">SIGNUP</a></li>
            <li><a href="/login">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid main">
      <div
        id="myCarousel"
        class="carousel carousel-fade slide"
        data-ride="carousel"
        data-interval="3000"
      >
        <div class="carousel-inner" role="listbox">
          <div class="item active background a"></div>
          <div class="item background b"></div>
          <div class="item background c"></div>
        </div>
      </div>

      <div class="covertext">
        <div class="col-lg-10" style="float: none; margin: 0 auto;">
          <h1 class="title">PawFinder</h1>
          <h3 class="subtitle">
            A new way to find your new best friend
          </h3>
        </div>
        <div class="col-xs-12 explore">
          <a href="#"
            ><button type="button" class="btn btn-lg explorebtn">
              Shelters
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="text-center">&copy; PawFinder</div>
    <script src="/js/index.js"></script>
  </body>
</html>
