<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login in Page</title>
  </head>
  <body>
    <!-- Nav bar -->
    <nav>
      <a href="">Login/Signup</a> |<a href="">About us</a>|
      <a href="">Contact us</a>
    </nav>

    <!-- center of page text -->
    <h1>PawFinder</h1>

    <form action="/login" method="POST">
      <input
        type="text"
        class="user-input"
        placeholder="login"
        name="text"
        required
      />
      <input type="submit" class="user-button" value="Add" />
    </form>
  </body>
</html>
