<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7e9c096915.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>

    <link rel="stylesheet" href="css/mainswipe.css" />
    <script src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js"></script>
    <title>MainSwipe</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img
              id="logo"
              src="/images/PawFinder logo3_transparent.PNG"
              alt=""
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/signup">SIGNUP</a></li>
            <li><a href="/login">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="tinder">
      <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
      </div>

      <div class="tinder--cards">
        <div class="tinder--card">
          <img src="/images/dog1.jpg" />
          <h3>Dog match one</h3>
          <p>This is a demo for PawFinder swipe cards</p>
        </div>
        <div class="tinder--card">
          <img src="/images/cat2.jpg" />
          <h3>Demo match two</h3>
          <p>This is a demo for PawFinder swipe cards</p>
        </div>
        <div class="tinder--card">
          <img src="/images/dog2.jpg" />
          <h3>Demo match three</h3>
          <p>This is a demo for PawFinder swipe cards</p>
        </div>
        <div class="tinder--card">
          <img src="/images/cat3.jpeg" />
          <h3>Demo match four</h3>
          <p>This is a demo for PawFinder swipe cards</p>
        </div>
        <div class="tinder--card">
          <img src="/images/dog3.jpg" />
          <h3>Demo match five</h3>
          <p>This is a demo for PawFinder swipe cards</p>
        </div>
      </div>

      <div class="tinder--buttons">
        <button id="nope"><i class="fa fa-remove"></i></button>
        <button id="love"><i class="fa fa-heart"></i></button>
      </div>
    </div>
    <script src="js/mainswipe.js"></script>
    <script src="js/petfinder.js"></script>
  </body>
</html>
