<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="#">
      <img src="   " width="30" height="30" alt="Logo" loading="lazy"> <name>
     </a>
    </button>

    <div class="navbar-nav" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="text-light nav-link" href="index.ejs">Home |</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="login.ejs">Login |</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="signup.ejs">Sign Up,Its Free</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="mainswipe.ejs">Match |</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="messages.ejs"> Messages|</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="Survey.ejs">Survey</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="shelterpage.ejs">Shelters</a>
        </li>
         <li class="nav-item">
          <a class="text-light nav-link" href="profilepage.ejs">Profile</a>
        </li>
      </nav>
  </div>