<header class="masthead">
  <p class="masthead-intro">Hi, I'm</p>
  <h1 class="masthead-heading">Daryll</h1>
</header>

<section class="about-section">
  <h1>About</h1>
  <p>
    Pawfinder is an online, searchable database of animals who need homes. It is
    also a directory of nearly 11,000 animal shelters and adoption organizations
    across the U.S., Canada and Mexico. Organizations maintain their own home
    pages and available-pet databases.
  </p>
</section>

<section class="location-section">
  <h1>Our mission</h1>
  <p>
    To use Internet technology and the resources it can generate to: Increase
    public awareness of the availability of high-quality adoptable pets Increase
    the overall effectiveness of pet adoption programs across North America to
    the extent that the euthanasia of adoptable pets is eliminated Elevate the
    status of pets to that of family member
  </p>
</section>

<section class="details-section">
  <h1>Disclaimer</h1>

  <h3>
    Pawfinder is only a directory of homeless pets and pet adoption
    organizations.
  </h3>
  <p>
    No information in Pawfinder is guaranteed. Although the information on
    Pawfinder is updated frequently, it is always best to call the facility or
    organization that lists the pet to insure it is still available and to
    insure the information listed in Pawfinder is accurate. It is crucial that
    any pet found through an adoption service be thoroughly examined by a
    veterinarian immediately upon adoption. Any pets found, adopted through, or
    listed in Pawfinder are the sole responsibility of the adoption
    organizations and/or the adopting party.
  </p>

  <footer class="content-footer">
    <p>Stop by and say hello on these social networks:</p>
    <ul class="social">
      <li>
        <a
          href="https://localclassifiedlist.net/dogs?adprovider=AppFocus1&source=s-ccc1&device=c&creative=444794524200&adposition=&placement=&target=&sl=&caid=9848857647&gw=1&test=://mail&gclid=CjwKCAjwxev3BRBBEiwAiB_PWOdp8DG6aTfoW1vJdO7nbz5Ggx-AESTSjvaVqh_ZdNTqMJZ16CvKQRoCUcsQAvD_BwE"
          ><img
            src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
            height="40"
            width="40"
        /></a>
      </li>
      <li>
        <a href="https://www.petfinder.com/about/"
          ><img
            src="https://secure.assets.tumblr.com/images/logo_page/img_logo_bluebg_2x.png"
            height="40"
            width="40"
        /></a>
      </li>
      <li>
        <a href="https://plus.google.com/117070596943292023462"
          ><img
            src="https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_psCNtxmIXAtNuMja5wCYUR9A/w1664-h1664/GooglePlus-logos-02.png"
            height="40"
            width="40"
        /></a>
      </li>
    </ul>
    <p>Cover Image via <a href="http://unsplash.com">Unsplash</a></p>
  </footer>
</section>
