<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/shelter.css" />
    <title>Paw Finder</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PawFinder</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/shelterpage">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profilepage">Matches & Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mainswipe">Swipe Time</a>
          </li>
        </ul>
      </div>
    </nav>

    <br />
    <hr />

    <header class="masthead">
      <div class="title">
        <p class="masthead-intro">We are</p>
        <h1 class="masthead-heading">Pawfinder</h1>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section class="about-section mt-5 text-center">
            <h1>About</h1>
            <p>
              Pawfinder is an online, searchable database of animals who need
              homes. It is also a directory of nearly 11,000 animal shelters and
              adoption organizations across the U.S., Canada and Mexico.
              Organizations maintain their own home pages and available-pet
              databases.
            </p>
          </section>
        </div>
        <div class="col-md-6">
          <section class="location-section mt-5 text-center">
            <h1>Our mission</h1>
            <p>
              To use Internet technology and the resources it can generate to:
              Increase public awareness of the availability of high-quality
              adoptable pets Increase the overall effectiveness of pet adoption
              programs across North America to the extent that the euthanasia of
              adoptable pets is eliminated Elevate the status of pets to that of
              family member
            </p>
          </section>
        </div>
      </div>

      <section class="details-section mt-5 mb-3 text-center">
        <h1>Disclaimer</h1>

        <h3>
          Pawfinder is only a directory of homeless pets and pet adoption
          organizations.
        </h3>
        <p>
          No information in Pawfinder is guaranteed. Although the information on
          Pawfinder is updated frequently, it is always best to call the
          facility or organization that lists the pet to insure it is still
          available and to insure the information listed in Pawfinder is
          accurate. It is crucial that any pet found through an adoption service
          be thoroughly examined by a veterinarian immediately upon adoption.
          Any pets found, adopted through, or listed in Pawfinder are the sole
          responsibility of the adoption organizations and/or the adopting
          party.
        </p>

        <footer class="content-footer">
          <p>Stop by and say hello on these social networks:</p>
          <ul class="social">
            <li>
              <a
                href="https://localclassifiedlist.net/dogs?adprovider=AppFocus1&source=s-ccc1&device=c&creative=444794524200&adposition=&placement=&target=&sl=&caid=9848857647&gw=1&test=://mail&gclid=CjwKCAjwxev3BRBBEiwAiB_PWOdp8DG6aTfoW1vJdO7nbz5Ggx-AESTSjvaVqh_ZdNTqMJZ16CvKQRoCUcsQAvD_BwE"
                ><img
                  src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
                  height="40"
                  width="40"
              /></a>
            </li>
            <li>
              <a href="https://www.petfinder.com/about/"
                ><img
                  src="https://secure.assets.tumblr.com/images/logo_page/img_logo_bluebg_2x.png"
                  height="40"
                  width="40"
              /></a>
            </li>
            <li>
              <a href="https://plus.google.com/117070596943292023462"
                ><img
                  src="https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_psCNtxmIXAtNuMja5wCYUR9A/w1664-h1664/GooglePlus-logos-02.png"
                  height="40"
                  width="40"
              /></a>
            </li>
          </ul>
          <p>Cover Image via <a href="http://unsplash.com">Unsplash</a></p>
        </footer>
      </section>
    </div>
  </body>
</html>
