<h1>register</h1>
<form action="/register" method="POST">
  <input type="text" name="first_name" />
  <input type="text" name="last_name" />
  <input type="text" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Register" />
</form>

<h1>login</h1>
<form action="/login" method="POST">
  <input type="text" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="login" />
</form>
